// ======================================================================
// Color Pallete
// ======================================================================

$primary: #2fc4b2;
$secondary: #e7e7e7;
$third: #f9f9f9;
$success: #2ecc71;
$danger: #e74c3c;
$warning: #f1c40f;

// ======================================================================
// Font Import
// ======================================================================

@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&display=swap');

// ======================================================================
// Universal
// ======================================================================

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Heebo', sans-serif;
  background-color: $third;
}

button {
  font-size: 100%;
  border: 0;
  padding: 0;
  font-family: inherit;
}

small {
  margin-bottom: -8px;
}

.App-container {
  width: 80%;
  margin: 130px auto;
}

// ======================================================================
// Reusable
// ======================================================================

.bg-success {
  background-color: $success;
}
.bg-danger {
  background-color: $danger;
}
.bg-warning {
  background-color: $warning;
}
.bg-primary {
  background-color: $primary;
}
.bg-secondary {
  background-color: $secondary;
}

.color-success {
  color: $success;
}
.color-danger {
  color: $danger;
}
.color-warning {
  color: $warning;
}
.color-primary {
  color: $primary;
}
.color-secondary {
  color: $secondary;
}

.btn {
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-success {
  background-color: $success;
  &:hover {
    background-color: darken($color: $success, $amount: 5%);
  }
}
.btn-danger {
  background-color: $danger;
  &:hover {
    background-color: darken($color: $danger, $amount: 5%);
  }
}
.btn-warning {
  background-color: $warning;
  &:hover {
    background-color: darken($color: $warning, $amount: 5%);
  }
}
.btn-primary {
  background-color: $primary;
  &:hover {
    background-color: darken($color: $primary, $amount: 5%);
  }
}
.btn-secondary {
  background-color: $secondary;
  &:hover {
    background-color: darken($color: $secondary, $amount: 5%);
  }
}

// ======================================================================
// Landing Page
// ======================================================================

.landing-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-image: url(./images/Assets.svg), url(./images/Vector1.svg), url(./images/Vector2.svg), url(./images/Vector3.svg);
  background-repeat: no-repeat;
  background-position: 80%, top left, bottom left, bottom right;
  background-color: $third;
  .content {
    position: absolute;
    top: 20%;
    left: 15%;
    font-size: 24;
    h1 {
      font-size: 95px;
      margin-bottom: 10px;
      margin-top: -70px;
      font-family: 'Faustina', serif;
      color: $primary;
      line-height: 102px;
    }
    .heading {
      display: flex;
      align-items: center;
      h1 {
        margin-top: -25px;
        color: black;
      }
      img {
        margin-left: -40px;
      }
    }
    .text-content {
      width: 80%;
    }
    .btn {
      display: inline-block;
      font-weight: bold;
      margin: 30px auto;
      margin-right: 20px;
    }
    .bg-primary {
      color: $secondary;
    }
  }
}

// ======================================================================
// Landing Modal
// ======================================================================

.landing-modal-container {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.664);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;

  .landing-modal {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    align-items: center;
    label {
      display: block;
      font-weight: 500;
      margin: 5px 0px;
    }
    h1 {
      color: $primary;
      font-size: 36px;
    }
    strong {
      margin-left: 5px;
    }

    .input {
      width: 350px;
      height: 50px;
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px solid $primary;
      background-color: $secondary;
    }

    div.link-to {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px auto;
      cursor: pointer;
    }
    div.link-to:hover {
      text-decoration: underline;
    }
  }
  .action {
    display: flex;
    justify-content: space-around;
    .btn {
      width: 150px;
      height: 40px;
      display: inline-block;
      margin: 15px auto 5px auto;
    }
  }
}

// ======================================================================
// Alert
// ======================================================================

.alert-container {
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.74);
  .alert {
    position: relative;
    padding: 50px;
    width: 600px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    .fa-times-circle {
      position: absolute;
      top: -12px;
      right: -12px;
      font-weight: 600;
      font-size: 30px;
      background-color: white;
      color: red;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  .alert-success {
    border: 2px solid $success;
  }
  .alert-warning {
    border: 2px solid $warning;
  }
  .alert-danger {
    border: 2px solid $danger;
  }
}

// ======================================================================
// Navbar
// ======================================================================

.navbar-container {
  z-index: 999;
  display: flex;
  background-color: $secondary;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 10px 10%;
  height: 120px;
  .menu {
    display: flex;
    align-items: center;
    a {
      margin-right: 10px;
    }
    .avatar {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      &:hover {
        box-shadow: 0px 0px 5px 5px $primary;
      }
    }
    cursor: pointer;
  }
  .dropdown {
    position: absolute;
    background-color: white;
    width: 195px;
    right: 11%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    height: 190px;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
    div {
      display: flex;
      align-items: center;
      cursor: pointer;
      border-radius: 5px;
      padding: 5px;
      font-weight: 600;
      &:hover {
        background-color: darken($color: #fff, $amount: 10%);
      }
      img {
        margin-right: 10px;
        margin-left: 5px;
        width: 30px;
        max-height: 40px;
      }
    }
    .polygon {
      position: absolute;
      right: 0px;
      top: -20px;
      z-index: -10;
    }
  }
}

// ======================================================================
// Home
// ======================================================================

.home-container {
  select,
  option {
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: $secondary;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
  }
}

.contents {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40vh;
  gap: 20px;
  .content {
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: $secondary;
    border-radius: 10px;
    display: grid;
    grid-template-areas: 'img' 'footer';
    grid-template-rows: auto 50px;
    padding: 10px;
    .image {
      display: grid;
      grid-template-areas: 'header' 'footer';
      grid-template-rows: auto 30%;
      border-radius: 10px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      .bottom {
        grid-area: footer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px;
        opacity: 0;
        transition: 0.2s;
        color: $secondary;
        border-radius: 10px;
        .action {
          display: flex;
          align-items: center;
          i {
            margin: 0px 5px;
          }
        }
      }
      &:hover {
        .bottom {
          opacity: 1;
          background-image: linear-gradient(rgba(255, 255, 255, 0), black);
        }
      }
    }
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .user {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        img {
          max-width: 40px;
        }
        img {
          margin-right: 20px;
          border-radius: 50%;
        }
      }
      .action {
        display: flex;
        align-items: center;
        i {
          margin: 0px 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .home-container {
    .contents {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 35vh;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .home-container {
    .contents {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 35vh;
    }
  }
}
@media only screen and (max-width: 800px) {
  .home-container {
    .contents {
      grid-template-columns: 1fr;
      grid-template-rows: 35vh;
    }
  }
}

// ======================================================================
// Profile
// ======================================================================

.profile-container {
  background-image: url(./images/rectangle.svg);
  background-repeat: no-repeat;
  background-position: right top;
  display: grid;
  grid-template-areas:
    'greeting art art'
    'action art art'
    'project project project';
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 300px 300px auto;
  .greeting {
    grid-area: greeting;
    .avatar {
      border-radius: 50%;
      width: 150px;
    }
  }
  .art {
    grid-area: art;
    align-self: center;
    justify-self: end;
    margin-right: 15%;
    padding: 30px;
    background-color: $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    img {
      max-width: 500px;
      border-radius: 10px;
    }
  }
  .action {
    grid-area: action;
    display: flex;
    .btn {
      margin-right: 5px;
      height: 40px;
    }
  }
  .project {
    grid-area: project;
    display: grid;
    grid-template-areas: 'title ' 'img';
    h2 {
      grid-area: title;
    }
    .project-images {
      grid-area: img;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      img {
        width: 100%;
        margin: 10px;
        border-radius: 10px;
      }
    }
  }
}
